@using Entity.Concrete
@Model List<Category>

@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<table class="table table-striped table-dark">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>AÇIKLAMA</th>
        <th>Durum</th>
    </tr>
    @foreach(var category in Model)
    {
         <tr>
             <td>@category.CategoryId</td>
             <td>@category.CategoryName</td>
             <td>@category.CategoryDescription</td>
             <td>@category.CategoryStatus</td>
         </tr>      
    }
</table>
<br />
<a href="/Category/AddCategory" class="btn btn-outline-info">Yeni Kategori</a>